POSTGRES_DB=amg_land
POSTGRES_USER=amg_land
POSTGRES_PASSWORD=amg_land_password
POSTGRES_PORT=5432

APP_ENV=development
BACKEND_PORT=8000

MINIO_ROOT_USER=amgminio
MINIO_ROOT_PASSWORD=amgminio123
MINIO_BUCKET=amg-land-media
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_URL=http://localhost:9000/amg-land-media
